<% if current_user.nil? %>
  <%= link_to "Sign Up", new_user_url %>
  <%= link_to "Log In", new_session_url %>
<% end %>

<h1>Cats upon cats!</h1>

<ul>
  <% @cats.each do |cat| %>
    <li><a href="<%= cat_url(cat) %>"><%= cat.name %></a></li>
  <% end %>
</ul>

<a href="<%= new_cat_url %>">Create cat</a>
