<h1><%= @sub.title %></h1>
<%= @sub.description %>

Mods: <%= @sub.mod.username %>

<h2>Posts</h2>
  <ul>
    <% @sub.posts.each do |post| %>
      <li>
        <%= post.title %>
        <% if post.content %>
          <%= post.content %>
        <% end %>
        <% if post.url %>
          <%= post.url %>
        <% end %>
      </li>
    <% end %>
  </ul>

<%= link_to "All Subs", subs_url %>
<%= link_to "New Post", new_post_url %>
