<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless current_user.nil? %>
    Welcome <%= current_user.email %>~
    <%= button_to 'Log Out', session_url, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
