<h2><%= @post.title %></h2>
By : <%= @post.author.username %>

<h3> URL </h3>
<%= @post.url ? @post.url : "No URL" %>

<h3> Content </h3>
<%= @post.content ? @post.content : "No Content" %>

<h3>Comments</h3>
<ul>
  <% @post.comments.each do |comment| %>
    <li> <%= comment.body %></li>
    <%= button_to "Remove Comment", comment_url, method: :delete %>
  <% end %>
</ul>

<h3>Add Comment</h3>
<form action="<%= comments_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">

  <label>Body
    <input type="text" name="comment[body]" value="">
  </label>

  <input type="submit" name="" value="Submit">

</form>
